/*------------------------
        Google Fonts
--------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/*------------------------
        Utilities
--------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    color: #fff;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 3px;
}

/*------------------------
    Header Section Start
--------------------------*/

header {
    width: 100%;
    height: 100vh;
    background-color: #2D25A0;
}

nav {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    list-style: none;
    padding: 0;
}

.main-nav li {
    display: inline-block;
    margin-right: 18px;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav li a {
    display: inline-block;
    color: #fff;
    padding: 0 18px;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s ease;
}

.main-nav li a:hover {
    color: #dcdcdc;
}

.login {
    color: #fff;
    background-color: #E02C6D;
}

.login:hover {
    padding: 8px 22px;
    background: transparent;
    border: 2px solid #E02C6D;
}

.fa-sign-in-alt {
    margin-right: 8px;
}

.top-section-container {
    width: 100%;
    height: calc(100vh - 20vh);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    width: 40%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.main-header {
    color: #fff;
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
}

.watch-live-link {
    margin-top: 27px;
    background-color: #E02C6D;
}

.watch-live-link:hover {
    padding: 8px 22px;
    border: 2px solid #E02C6D;
    background-color: transparent;
}

.fa-arrow-right {
    margin-left: 8px;
}

.main-banner-image {
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.main-banner-image .banner-img {
    width: 85%;
    position: absolute;
    transition: 0.8s ease-in;
}

.banner-img:hover {
    transform: scale(1.04) translate(-25px, -10px);
}

/*------------------------------------
    Player Details Section Start
-------------------------------------*/

.player-details-sec {
    width: 100%;
}

.player-detail {
    padding: 70px 0;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 30px;
}

.player {
    width: 330px;
    height: 474px;
    padding: 15px 15px 33px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.player:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.player-image {
    width: 100%;
    height: 256px;
    text-align: center;
}

.player-name {
    font-size: 28px;
    padding: 10px 0 10px 0;
}

/*------------------------------------
        Sponsor Section Start
-------------------------------------*/

.sponsors {
    width: 100%;
    height: 40vh;
    background: #E2E2E2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sponsors img {
    width: 180px;
}

/*------------------------------------
        Hightlight Section Start
-------------------------------------*/

.highlights-section {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight-content {
    width: 50%;
}

.highlight-header {
    color: #0A0826;
    font-size: 48px;
    line-height: 60px;
}

.highlight-player {
    color: #E02C6D;
    font-size: 30px;
}

.highlight-watch-link {
    background: #E02C6D;
    margin-top: 20px;
    display: inline-block;
}

.highlight-watch-link:hover {
    padding: 8px 22px;
    border: 2px solid #E02C6D;
    background: transparent;
    color: #E02C6D;
}

.highlight-image {
    width: 50%;
}

.highlight-image img {
    width: 80%;
    margin-left: 50px;
}

/*------------------------------------
        Footer Section Start
-------------------------------------*/

footer {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer img {
    width: 483px;
}

footer ul {
    list-style: none;
    margin-bottom: 20px;
}

footer ul li {
    display: inline-block;
    margin-left: 10px;
}

footer ul li:first-child {
    margin-left: 0;
}

footer ul li a {
    width: 32px;
    height: 32px;
    padding: 5px 10px;
    color: #969BAB;
    background: #ECECEC;
    border-radius: 50%;
    border: 2px solid;
}