/*------------------------
        Google Fonts
--------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/*------------------------
        Utilities
--------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    color: #fff;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 3px;
}

/*------------------------
    Header Section Start
--------------------------*/

header {
    width: 100%;
    height: 100vh;
    background-color: #2D25A0;
}

nav {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    list-style: none;
    padding: 0;
}

.main-nav li {
    display: inline-block;
    margin-right: 18px;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav li a {
    display: inline-block;
    color: #fff;
    padding: 0 18px;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s ease;
}

.main-nav li a:hover {
    color: #dcdcdc;
}

.login {
    color: #fff;
    background-color: #E02C6D;
}

.login:hover {
    padding: 8px 22px;
    background: transparent;
    border: 2px solid #E02C6D;
}

.fa-sign-in-alt {
    margin-right: 8px;
}

.top-section-container {
    width: 100%;
    height: calc(100vh - 20vh);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    width: 40%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.main-header {
    color: #fff;
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
}

.watch-live-link {
    margin-top: 27px;
    background-color: #E02C6D;
}

.watch-live-link:hover {
    padding: 8px 22px;
    border: 2px solid #E02C6D;
    background-color: transparent;
}

.fa-arrow-right {
    margin-left: 8px;
}

.main-banner-image {
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.main-banner-image .banner-img {
    width: 85%;
    position: absolute;
    transition: 0.8s ease-in;
}

.banner-img:hover {
    transform: scale(1.04) translate(-25px, -10px);
}

/*------------------------------------
    Player Details Section Start
-------------------------------------*/

.player-details-sec {
    width: 100%;
}

.player-detail {
    padding: 70px 0;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 30px;
}

.player {
    width: 330px;
    height: 474px;
    padding: 15px 15px 33px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.player:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.player-image {
    width: 100%;
    height: 256px;
    text-align: center;
}

.player-name {
    font-size: 28px;
    padding: 10px 0 10px 0;
}

/*------------------------------------
    Training Camp Section Start
-------------------------------------*/

.training-camp {
    width: 100%;
    height: 100vh;
    background-image: url(images/training-camp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    /* background-attachment: fixed; */
}

.camp-join-link {
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: #E02C6D;
}

.camp-join-link:hover {
    padding: 8px 22px;
    background: transparent;
    color: #E02C6D;
    border: 2px solid #E02C6D;
}

/*------------------------------------
        Hightlight Section Start
-------------------------------------*/

.highlights-section {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hightlight {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hightlight-content {
    width: 45%;
}

.hightlight-header {
    color: #0A0826;
    font-size: 48px;
    line-height: 60px;
}

.hightlight-player {
    color: #FF4588;
    font-size: 20px;
    padding: 10px 0;
}

.hightlight-watch-link {
    margin-top: 24px;
    display: inline-block;
    background: #E02C6D;
}

.hightlight-watch-link:hover {
    color: #E02C6D;
    padding: 8px 22px;
    background: transparent;
    border: 2px solid #E02C6D;
}

.hightlight-image {
    width: 50%;
    display: flex;
    justify-content: center;
}

.lightlight-player {
    width: 80%;
}

/*------------------------------------
    Stadium Location Section Start
-------------------------------------*/

.find-stadium {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/stadium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.stadium-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.stadium-map {
    display: flex;
    justify-content: center;
    align-items: center;
}


.stadium-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stadium-header {
    font-size: 28px;
    padding: 10px 0;
    color: #cdcdcd;
    cursor: pointer;
}

.stadium-header:hover {
    color: #6B6B6B;
}

.location-details {
    color: #fff;
}

.stadium-location {
    margin-top: 50px;
    background-color: #E02C6D;
}

/*------------------------------------
        Footer Section Start
-------------------------------------*/

footer {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo {
    width: 483px;
    height: 110px;
}

.social-links {
    list-style: none;
}

.social-links li {
    display: inline-block;

}

.social-links li a {
    width: 32px;
    height: 32px;
    padding: 5px 8px;
    background: #E7E7E8;
    border-radius: 50%;
    margin: 14x;
}
.social-link {
    color: #969BAB;
    font-size: 17px;
    transition: 0.8s;
}

.copyright {
    margin-top: 20px;
}

.fa-instagram:hover {
    color: #3f729b;
}

.fa-dribbble:hover {
    color: #ea4c89;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-youtube:hover {
    color: #FF0000;
}